#entries-list{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
.entry-container{
    width: 500px;
    height: 100px;
    display: inline-block;
}
.entry-note-default{
    overflow-wrap: break-word;
}