.note-textarea {
    resize: none;
}

#entries-list{
    display: flex;
    flex-direction: row-reverse;

    overflow-x: scroll;
    scroll-behavior: smooth;

    height: 25vh;
}

.entry-container {
    width: 20%;
    flex-shrink: 0;
}

