.note-textarea {
    resize: none;
}

#entries-list{
    display: flex;
    flex-direction: row-reverse;

    overflow-x: hidden;
    scroll-behavior: smooth;

    height: 25vh;
}

.entry-container {
    width: 225px;
    height: 225px;

    flex-shrink: 0;
}

